<div class="row pt-5">
  <div class="col-4">
    <div class="card">
<!--      <img src="assets/angular-13.png" class="card-img-top" alt="...">-->
      <div class="card-header">{{details?.name}}</div>
      <div class="card-body">
        <h5 class="card-title">{{details?.departement}}</h5>
        <p class="card-text">{{details?.gender}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
