<div class="row">
  <div class="col-12">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </div>
</div>
