<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="employeForm" (ngSubmit)="create(employeForm.value)">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name"
               [ngClass]="{
                'is-invalid': employeForm.controls['name'].errors,
                'is-valid': !employeForm.controls['name'].errors
               }">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="employeForm.controls['name'].errors && employeForm.controls['name'].touched">
          <p><strong>Warning!</strong> Tsy mlay.</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Description</label>
        <input type="text" formControlName="gender" class="form-control" id="gender">
      </div>
      <div class="mb-3">
        <label for="departement" class="form-label">Departement</label>
        <input formControlName="departement" type="text" class="form-control" id="departement">
      </div>
      <button type="submit" class="btn btn-primary">{{buttonText}}</button>
    </form>
  </div>
</div>
